

.rivalForm {
    margin: 20px;
    padding: 20px;
}

#scheduleDate  {
    width: 250px;
    height: 19px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 12px;
    padding-right: 12px;

}

#rivalName {
    width: 250px;
    height: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 12px;
    padding-right: 12px;
}

.purpleButton {
    background-color: var(--secondary);
    color: rgb(255, 255, 255);
    /* width: 50%; */
    padding: 12px 20px;
    text-align: center;
    border: 0px solid var(--secondary);
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    cursor:pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  }
  
  .purpleButton:hover {
    background-color: #9551bd;
    color: white;
  }