

.rivalForm {
    margin: 20px;
    padding: 20px;
}

#scheduleDate  {
    width: 250px;
    height: 19px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 12px;
    padding-right: 12px;

}

#rivalName {
    width: 250px;
    height: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 12px;
    padding-right: 12px;
}