nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav > ul > li {
    display: inline-block;
    min-width: 50px;
    padding: 10px 20px;
}

nav > ul > li:not(:last-child) {
    border-right: 1px solid black;
}

nav > ul > li:hover {
    background-color: grey;
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
}

nav {
    display: block;
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: lightgrey;
}