
ul {
  list-style: none;
}



.red {
  background-color: red;
}

.green {
  background-color: green;
}

.rivalPic {
  float: left;
  width: 20px;
  height: 20px;
  border-color: black;
  margin-right: 20px;
  margin-bottom: 20px;
}

.rival {
  border: 1px solid black;

}

.rivalInfo {
  display: inline-block;
  margin: 10px;
}

.rivalsHeader {
  border: 1px solid black;
}

.rivals {
  width: 400px;
}

#rivalSearch {
  margin-left: 30px;
  display: inline-block;
}

#rivalsTitle {
  margin-left: 20px;
  display: inline-block;
}

#profilePicture {
  border-radius: 10%;
  width: 200px;
  height: 200px;
  margin-left: 50px;
  margin-right: 30px;
  margin-top: 30px;
  float: none;
}

#ChangePicture {
  display: block;
  margin-right: auto;
  margin-left: 95px;
  float: none;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100px;
}

#Username {
  margin-left: 50px;
}

#profilePictureContainer {
  display: inline-block;
  float: left;
}

#UserInfo {
  display: inline-block;
}

#profilePictures {
  display: grid;
  grid-template-columns: auto auto auto;
}

.miniProfilePictures {
  width: 100px;
  border-radius: 20%;
}

.gridlist {
  width: 500px;
  height: 500px;
}