.centerBox {
  margin: auto;
  margin-top: 30px;
  width: 50%;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
}

.centerText {
  text-align: center;
}

.submitButton {
  background-color: white;
  color: black;
  padding: 12px 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
}

.submitButton:hover {
  background-color: black;
  color: white;
}

input[type=text], input[type=password] {
  padding: 12px 20px;
  margin: 5px;
  box-sizing: border-box;
}